<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="theme-color" content="#ffffff">

  <link rel="icon" href="https://i.ibb.co/YpkTQGY/image.png"/>
  <link rel="apple-touch-icon" href="https://i.ibb.co/YpkTQGY/image.png"/>

  <title><%=locals.title%></title>

  <link rel="manifest" href="../admin.json">
  <link rel="stylesheet" href="../css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/inko@1.1.0/inko.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">

</head>
<body>

  <div class="header">
 
    <main>
      <%- body %>
    </main>
  </div>  

  <script src="../js/script.js"></script>
</body>
</html>